<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="refresh" content="30">
    <style type="text/css">
    @import url(basic.css);
    </style>
</head>
<body>
    <table>
        <tr class="header">
            <td>Team</td>
            <td>+</td>
            <td>Time</td>
            {% for problem in problems_sorted %}
                <th>{{ problems[problem] }}</th>
            {% endfor %}
        </tr>
        {% set odd, prev = True, 0 %}
        {% for user in users_sorted %}
            {% set score = scores[user] %}
            {% if score.solved != prev %}
                {% set odd, prev = not odd, score.solved %}
            {% endif %}
            <tr class="{% if odd %}odd{% else %}even{% endif %}">
                <td>{{ users[user] }}</td>
                <td>{{ score.solved }}</td>
                <td>{{ score.minutes }}</td>
                {% for problem in problems_sorted %}
                <td class="sub">
                    {% set cell = table[user][problem] %}
                    <strong class="{% if cell.plus.startswith('+') %}accepted{% endif %}">
                        {{ cell.plus }}
                    </strong>
                    <em>{{ cell.time }}</em>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <p>
        Updated: {{ date.strftime("%H:%M:%S, %Y-%m-%d") }} UTC
    </p>
</body>
</html>